.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        <a href="#"><i class="fas fa-edit"></i></a>
        <a href="#"><i class="fas fa-cog"></i></a>
  .side-bar__group-list
    .team
      .team__name
        techcamp
      .team__message
        まだメッセージがありません