* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side-bar{
  .side-bar__user-name{
    background-color: #253141;
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    .top-items{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .top-items__name{
        color: #fff;
        font-size: 16px;
      }
      .top-items__icons{
        width: 60px;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        .fa-edit{
          margin-right: 5px;
        }
        a{
          color: #fff;
        }
      }
    }
  }

  .side-bar__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    width: 300px;
    .team{
      height: 65px;
      width: 300px;
      .team__name{
        color: #fff;
        font-size: 15px;
        padding: 20px 20px 5px 20px;
      }
      .team__message{
        color: #fff;
        font-size: 11px;
        padding: 0 20px 40px 20px;
      }
    }
  }
}

.chat-main{
  .chat-main__group-info{
    background-color: #fff;
    height: 100px;
    width: calc(100vw - 300px);
    .main-top{
      display: flex;
      justify-content: space-between;
      .main-top__left{
        .main-top__left__top{
          color: #333;
          font-size: 20px;
          padding: 35px 0 15px 40px;
        }
        .main-top__left__bottom{
          color: #999;
          font-size: 12px;
          padding-left: 40px;
        }
      }
      .main-top__right{
        color: #38aef0;
        font-size: 16px;
        padding: 28px 60px 0 20px;
      }
    }
  }
  .chat-main__message-list{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
    .main-main{
      padding: 35px 0 0 40px;
      .main-main__top{
        display: flex;
        .main-main__top__left{
          color: #333;
          font-size: 16px;
        }
        .main-main__top__right{
          color: #999;
          font-size: 12px;
        }
      }
      .main-main__bottom{
        color: #434a54;
        font-size: 14px;
        padding: 12px 0 46px 0;
      }
    }
  }
}

  .chat-main__message-form{
    background-color: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);
    display: flex;
    .new-form{
      display: flex;
      align-items: center;
      .input-box{
        padding: 10px 15px 10px 50px;
        position: relative;
        .input-box__message{
          padding-left: 10px;
          border: none;
        }
        .input-box__image{
          position: absolute;
          left: 220px;
          .input-box__image__file{
            display: none;
          }
        }
      }
      .submit-btn{
        color: #fff;
        font-size: 16px;
        background-color: #38aef0;
        padding: 0 30px;
        border: none;
      }
    }
  }